:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --heading-color: #ffffff;
  --code-background: #292929;
  --code-color: #ffb86c;
  --border-color: #2980b9;
  --blockquote-background: #1a1a1a;
  --button-background: #2980b9;
  --button-text: #ffffff;
  --button-hover: #1f618d;
}

body {
  font-family: 'JetBrains Mono',"Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  margin-inline: calc(100vw / 4);
  padding-block: 30px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

p {
  margin-bottom: 15px;
}

strong {
  color: var(--heading-color);
}

code {
  background-color: var(--code-background);
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--code-color);
  font-family: "Courier New", Courier, monospace;
}

p code {
  font-weight: bold;
}

pre {
  background-color: var(--code-background);
  padding: 10px;
  border-radius: 7px;
  overflow-x: auto;
  border-left: 4px solid var(--border-color);
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
}

.highlight {
  color: black;
  background-color: rgb(255, 227, 87) !important;
  padding-block: 3px;
  border-radius: 5px;
}

.highlight p {
  display: inline-block;
  color: black;
  background-color: rgb(255, 227, 87) !important;
  padding-block: 3px;
  border-radius: 5px;
}

.msreadout-line-highlight {
  background-color: green !important;
}

.msreadout-word-highlight {
  background-color: blue !important;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  border-radius: 50px;
  transition: 0.5s ease;
}

.menu-button {
  padding: 10px;
  border: none;
}

.menu-button:hover {
  background-color: var(--code-color);
}

/* Style for the highlighted, commented text */
.commented-text {
  color: black;
  background-color: rgb(255, 227, 87) !important;
  padding-block: 3px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

/* Tooltip style */
.commented-text:hover::after {
  content: attr(data-comment);
  position: absolute;
  background-color: #8f8bff;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  top: 110%;
  left: 0;
  z-index: 10;
  font-size: 16px;
}

@media (min-width: 600px) {
  body {
    margin: 50px;
  }
  .menu-button {
    padding: 40px;
    border: none;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: rgb(50, 50, 50);
    border-radius: 50px;
    transition: 0.5s ease;
  }
}